---
import BaseLayout from "../layouts/BaseLayout.astro";
const {title} = "Katalog"
---

<BaseLayout title={title}>
	<h1>😻 Katalog</h1>
	<p>Find all the details on Spookje, Draakje and Twinkle here!</p>
</BaseLayout>